---
layout: splash
permalink: /
hidden: true
feature_row:
  - image_path: /assets/images/teaser/news-1591767_640.jpg
    alt: "博客文章"
    title: "博客文章"
    excerpt: "查看我的最新文章，将各种新鲜事一网打尽。"
    url: "/posts/"
    btn_class: "btn--primary"
    btn_label: "开始阅读"
  - image_path: /assets/images/teaser/new-years-eve-1283521_640.jpg
    alt: "插件探索"
    title: "插件探索"
    excerpt: "我制作的插件。"
    url: "/addons/"
    btn_class: "btn--primary"
    btn_label: "了解更多"
  - image_path: /assets/images/teaser/railroad.png
    alt: "旅途回顾"
    title: "旅途回顾"
    excerpt: "去看看我走过的地方，探寻我留下的足迹。"
    url: "/memory/"
    btn_class: "btn--primary"
    btn_label: "开始旅行"   
---
<!-- 编辑器 -->

<!-- <div id="editor">

    <h2>
        欢迎造访<span style="background-color:hsl(180, 75%, 60%);color:hsl(0, 0%, 0%);">我的博客</span>！
    </h2>
    <p>
        你现在看到的是网站主页的<u>在线文档沙盒</u>，你可以使用网站内置的文本编辑器随意编辑和修改这段内容，并且所有的修改都不会被保存。<strong>来试试吧！</strong>
    </p>
    <ul>
        <li>
            记录一闪而过的灵感。
        </li>
        <li>
            撰写并修改新的博客。
        </li>
    </ul>

</div> -->

<!-- 头图 -->
<!-- <div style="--swiper-theme-color: #00adb5; --swiper-navigation-color: #00adb5; --swiper-pagination-color: #00adb5" class="swiper mySwiper">
    <div class="swiper-wrapper">
        <div class="swiper-slide">滑块1</div>
        <div class="swiper-slide">滑块2</div>
        <div class="swiper-slide">
            <div class="title" data-swiper-parallax="-300">滑块3</div>
            <div class="subtitle" data-swiper-parallax="-200">标题</div>
            <div class="text" data-swiper-parallax="-100">
                <p>
                    测试文本
                </p>
            </div>
            <div class="btn btn--light-outline" data-swiper-parallax="-50" href="#">文本</div>
        </div>
        </div>
        <div class="swiper-pagination"></div>
        <div class="autoplay-progress">
        <svg viewBox="0 0 48 48">
            <circle cx="24" cy="24" r="20"></circle>
        </svg>
        <span></span>
    </div>
</div> -->

<h2>
    你来啦！👋
</h2>
<p>
    欢迎来到我的个人空间！这里是我分享技术、生活和思考的角落。作为一名热爱游戏的开发者，我在这里记录玩过的游戏，分享经验，也探讨一些有趣的技术话题。
</p>

{% include feature_row %}

<div class="container">
<canvas class="zdog-canvas" width="60" height="60"></canvas>
<div class="text" id="randomText"></div>
</div>

<div class="wrapper">
    <h2><strong>玩过的游戏</strong></h2>

    <div class="cards">
        {% include game id="420" name="半条命 2 ：第二章" click="1" %}

        {% include game id="546560" name="半条命：爱莉克斯" click="1" %}
        
        {% include game id="220" name="半条命 2" click="1" %}
        
        {% include game id="412020" name="地铁：离去" click="1" %}
        
        {% include game id="362890" name="黑山：起源" click="1" %}
        
        {% include game id="1583720" name="熵：零 2" click="1" %}
        
        {% include game id="620" name="传送门 2" click="1" %}

        {% include game id="1815330" name="燥热之地" click="1" %}

        {% include game id="632470" name="极乐迪斯科：最终剪辑版" click="1" %}
        
        {% include game id="41700" name="潜行者：普里皮亚季的呼唤" click="1" %}
        
        {% include game id="380" name="半条命 2 ：第一章" click="1" %}
        
        {% include game id="102840" name="闪克 2" click="1" %}

        {% include game id="1092790" name="邪恶铭刻" click="1" %}
        
        {% include game id="287390" name="地铁：最后的曙光重制版" click="1" %}

        {% include game id="2378900" name="安迪和莉莉的棺材" click="1" %}

        {% include game id="1252330" name="死亡循环" click="1" %}

        {% include game id="2527500" name="米塔" click="1" %}

        {% include game id="257420" name="英雄萨姆 4" click="1" %}

        {% include game id="2379780" name="小丑牌" click="1" %}

        {% include game id="3117820" name="苏丹的游戏" click="1" %}

        {% include game id="403640" name="耻辱 2" click="1" %}
        
        {% include game id="383870" name="看火人" click="1" %}
        
        {% include game id="501300" name="艾迪芬奇的记忆" click="1" %}

        {% include game id="520720" name="亲爱的艾丝特：里程碑版" click="1" %}

        {% include game id="942970" name="疑案追声" click="1" %}

        {% include game id="270370" name="拉姆达战争" click="1" %}
        
        {% include game id="747250" name="半条命 2 ：警钟常鸣" click="1" %}
        
        {% include game id="587650" name="半条命 2 ：坠落" click="1" %}

        {% include game id="317400" name="传送门故事：梅尔" click="1" %}
        
        {% include game id="450390" name="实验室" click="1" %}

        {% include game id="714070" name="熵：零" click="1" %}
        
        {% include game id="1237970" name="泰坦陨落 2" click="1" %}
        
        {% include game id="1089980" name="火柴人亨利合集" click="1" %}
        
        {% include game id="1292940" name="逃离方块合集" click="1" %}
        
        {% include game id="684410" name="桥梁建筑师：传送门" click="1" %}

        {% include game id="248610" name="破门而入" click="1" %}

        {% include game id="1239080" name="破门而入2：北方特遣队" click="1" %}

        {% include game id="1608640" name="OXTO" click="1" %}
        
        {% include game id="1081510" name="她看见了红色" click="1" %}

        {% include game id="1091500" name="赛博朋克 2077" click="1" %}

        {% include game id="2707940" name="FPV 自杀式无人机" click="1" %}

        {% include game id="1289310" name="地狱把妹王" click="1" %}
        
        {% include game id="304430" name="深入" click="1" %}
        
        {% include game id="1902490" name="光圈科技打工记" click="1" %}
        
    </div>

    <h2><strong>和我一起玩</strong></h2>

    <div class="cards">

        {% include game id="4000" name="Gmod" click="1" %}

        {% include game id="240" name="反恐精英：起源" click="1" %}
        
        {% include game id="440" name="军团要塞 2" click="1" %}
        
        {% include game id="550" name="求生之路 2" click="1" %}

        {% include game id="581320" name="叛乱：沙漠风暴" click="1" %}
        
        {% include game id="1144200" name="严阵以待" click="1" %}
        
        {% include game id="1012110" name="军事冲突：越南" click="1" %}

        {% include game id="544810" name="KARDS" click="1" %}

        {% include game id="872670" name="SCP: 5K" click="1" %}

        {% include game id="1304930" name="逃生试炼" click="1" %}

        {% include game id="1142810" name="吐司球" click="1" %}

        {% include game id="2116120" name="入侵红河" click="1" %}

        {% include game id="2835570" name="霰弹轮盘赌" click="1" %}

        {% include game id="3097560" name="骗子酒馆" click="1" %}
        
        {% include game id="563560" name="异形从生：反应下降" click="1" %}

        {% include game id="869480" name="傻缺大乱斗：第三章" click="1" %}
        
        {% include game id="300" name="胜利之日：起源" click="1" %}

        {% include game id="1786950" name="Treason" click="1" %}

        {% include game id="222880" name="叛乱" click="1" %}
        
        {% include game id="447820" name="耻辱之日" click="1" %}

        {% include game id="1986760" name="警察故事" click="1" %}

        {% include game id="1262240" name="植物大战僵尸: 和睦小镇保卫战" click="1" %}

        {% include game id="1922560" name="植物大战僵尸：花园战争 2" click="1" %}

        {% include game id="374280" name="雇佣行动" click="1" %}

        {% include game id="686200" name="破门而入：行动小队" click="1" %}
        
        {% include game id="17710" name="核子黎明" click="1" %}        

        {% include game id="224260" name="地狱已满" click="1" %}

    </div>

</div>