---
layout: splash
permalink: /
hidden: true
feature_row:
  - image_path: /assets/images/teaser/news-1591767_640.jpg
    alt: "博客文章"
    title: "博客文章"
    excerpt: "查看我的最新文章，将各种新鲜事一网打尽。"
    url: "/posts/"
    btn_class: "btn--primary"
    btn_label: "开始阅读"
  - image_path: /assets/images/teaser/new-years-eve-1283521_640.jpg
    alt: "插件探索"
    title: "插件探索"
    excerpt: "插件的力量！让你的游戏体验与众不同。"
    url: "/addons/"
    btn_class: "btn--primary"
    btn_label: "了解更多"
  - image_path: /assets/images/teaser/railroad.png
    alt: "旅途回顾"
    title: "旅途回顾"
    excerpt: "去看看我走过的地方，探寻我留下的足迹。"
    url: "/memory/"
    btn_class: "btn--primary"
    btn_label: "开始旅行"   
---

<iframe src="editor/main.html"></iframe>

{% include feature_row %}

<div class="container">
<canvas class="zdog-canvas" width="60" height="60"></canvas>
<div class="text" id="randomText"></div>
</div>

<div class="wrapper">
    <h2><strong>玩过的游戏</strong></h2>

    <div class="cards">
        {% include game id="420" name="半条命 2 ：第二章" %}

        {% include game id="546560" name="半条命：爱莉克斯" %}
        
        {% include game id="220" name="半条命 2" %}
        
        {% include game id="412020" name="地铁：离去" %}
        
        {% include game id="362890" name="黑山：起源" %}
        
        {% include game id="1583720" name="熵：零 2" %}
        
        {% include game id="620" name="传送门 2" %}
        
        {% include game id="632470" name="极乐迪斯科：最终剪辑版" %}
        
        {% include game id="41700" name="潜行者：普里皮亚季的呼唤" %}
        
        {% include game id="380" name="半条命 2 ：第一章" %}
        
        {% include game id="102840" name="闪克 2" %}
        
        {% include game id="287390" name="地铁：最后的曙光重制版" %}

        {% include game id="257420" name="英雄萨姆 4" %}

        {% include game id="403640" name="耻辱 2" %}
        
        {% include game id="383870" name="看火人" %}
        
        {% include game id="501300" name="艾迪芬奇的记忆" %}
        
        {% include game id="747250" name="半条命 2 ：警钟常鸣" %}
        
        {% include game id="587650" name="半条命 2 ：坠落" %}

        {% include game id="317400" name="传送门故事：梅尔" %}
        
        {% include game id="450390" name="实验室" %}
        
        {% include game id="1237970" name="泰坦陨落 2" %}
        
        {% include game id="1089980" name="火柴人亨利合集" %}
        
        {% include game id="1292940" name="逃离方块合集" %}
        
        {% include game id="684410" name="桥梁建筑师：传送门" %}
        
        {% include game id="1081510" name="她看见了红色" %}
        
        {% include game id="304430" name="深入" %}
        
        {% include game id="1902490" name="光圈科技打工记" %}
        
    </div>

    <h2><strong>和我一起玩</strong></h2>

    <div class="cards">

        {% include game id="4000" name="Gmod" %}

        {% include game id="240" name="反恐精英：起源" %}
        
        {% include game id="440" name="军团要塞 2" %}
        
        {% include game id="550" name="求生之路 2" %}
        
        {% include game id="869480" name="傻缺大乱斗：第三章" %}
        
        {% include game id="1012110" name="军事冲突：越南" %}
        
        {% include game id="563560" name="异形从生：反应下降" %}
        
        {% include game id="300" name="胜利之日：起源" %}
        
        {% include game id="1144200" name="严阵以待" %}
        
        {% include game id="447820" name="耻辱之日" %}
        
        {% include game id="17710" name="核子黎明" %}        

        {% include game id="224260" name="地狱已满" %}



    </div>

</div>