.container {
display: flex;
align-items: center;
}

.zdog-canvas {
margin-right: 20px; /* 调整文字和动画之间的间距 */
}

.text {
font-size: 25px;
color: #ffffff;
font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", Arial, sans-serif;
font-weight: bold;
transition: opacity 0.5s ease-in-out; /* 添加过渡效果 */
}