.abs,
h2:after,
.cards .card figcaption,
.cards .card:after,
.news .card figcaption,
.news .card:after,
.news .article figcaption {
position: absolute;
}
.rel,
h2,
h2 strong,
.cards .card,
.news .card,
.news .article {
position: relative;
}
.fix {
position: fixed;
}
.dfix {
display: inline;
}
.dib {
display: inline-block;
}
.db {
display: block;
}
.dn {
display: none;
}
.df,
.cards,
.news {
display: flex;
}
.dif {
display: inline-flex;
}
.dg {
display: grid;
}
.dig {
display: inline-grid;
}
.cards,
.news {
flex-flow: row wrap;
}
.cards .card,
/* .news .card {
margin: 20px;
width: 180px;
height: 270px;
overflow: hidden;
box-shadow: 0 5px 10px rgba(0,0,0,0.8);
transform-origin: center top;
transform-style: preserve-3d;
transform: translateZ(0);
transition: 0.3s;
} */
.news .card {
    margin: 16px;
    width: 144px;
    height: 216px;
    overflow: hidden;
    box-shadow: 0 5px 10px rgba(0,0,0,0.8);
    transform-origin: center top;
    transform-style: preserve-3d;
    transform: translateZ(0);
    transition: 0.3s;
    }
.cards .card img,
.news .card img {
width: 100%;
min-height: 100%;
}
.cards .card figcaption,
.news .card figcaption {
bottom: 0;
left: 0;
right: 0;
padding: 20px;
padding-bottom: 10px;
font-size: 20px;
background: none;
color: #fff;
transform: translateY(100%);
transition: 0.3s;
}
.cards .card:after,
.news .card:after {
content: '';
z-index: 10;
width: 200%;
height: 100%;
top: -90%;
left: -20px;
opacity: 0.1;
transform: rotate(45deg);
background: linear-gradient(to top, transparent, #fff 15%, rgba(255,255,255,0.5));
transition: 0.3s;
}
.cards .card:hover,
.news .card:hover,
.cards .card:focus,
.news .card:focus,
.cards .card:active,
.news .card:active {
box-shadow: 0 8px 16px 3px rgba(0,0,0,0.6);
transform: translateY(-3px) scale(1.05) rotateX(15deg);
}
.cards .card:hover figcaption,
.news .card:hover figcaption,
.cards .card:focus figcaption,
.news .card:focus figcaption,
.cards .card:active figcaption,
.news .card:active figcaption {
transform: none;
}
.cards .card:hover:after,
.news .card:hover:after,
.cards .card:focus:after,
.news .card:focus:after,
.cards .card:active:after,
.news .card:active:after {
transform: rotate(25deg);
top: -40%;
opacity: 0.15;
}
/* .news .article {
overflow: hidden;
width: 350px;
height: 235px;
margin: 20px;
} */
/* overflow: hidden;
width: 280px;
height: 188px;
margin: 16px; */
.news .article {
    overflow: hidden;
    width: 280px;
    height: 188px;
    margin: 16px;
}
.news .article img {
    width: 100%;
    min-height: 100%;
    transition: 0.2s;
}
.news .article figcaption {
    font-size: 14px;
    text-shadow: 0 1px 0 rgba(51,51,51,0.3);
    color: #fff;
    left: 0;
    right: 0;
    top: 0;
    bottom: 10;
    padding: 20px;
    box-shadow: 0 0 2px rgba(0,0,0,0.2);
    background: rgba(6,18,53,0.6);
    opacity: 0;
    transform: scale(1.15);
    transition: 0.2s;
}
.news .article figcaption h3 {
    color: #00adb5;
    font-size: 16px;
    margin-bottom: 0;
    font-weight: bold;
}
.news .article:hover img,
.news .article:focus img,
.news .article:active img {
    filter: blur(3px);
    transform: scale(0.97);
}
.news .article:hover figcaption,
.news .article:focus figcaption,
.news .article:active figcaption {
    opacity: 1;
    transform: none;
}

:root{
    --background-dark: #2d3548;
    --text-light: rgba(255,255,255,0.6);
    --text-lighter: rgba(255,255,255,0.9);
    --spacing-s: 8px;
    --spacing-m: 16px;
    --spacing-l: 24px;
    --spacing-xl: 32px;
    --spacing-xxl: 64px;
    --width-container: 1200px;
  }
  
  *{
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html{
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
  }
  
  body{
    height: 100%;
  }
  
  .hero-section{
    align-items: flex-start;
    display: flex;
    min-height: 100%;
    justify-content: center;
    padding: var(--spacing-xxl) var(--spacing-l);
  }
  
  .card-grid{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: var(--spacing-l);
    grid-row-gap: var(--spacing-l);
    max-width: var(--width-container);
    width: 100%;
  }
  
  @media(min-width: 540px){
    .card-grid{
      grid-template-columns: repeat(2, 1fr); 
    }
  }
  
  @media(min-width: 960px){
    .card-grid{
      grid-template-columns: repeat(4, 1fr); 
    }
  }
  
  .card{
    list-style: none;
    position: relative;
  }
  
  .card:before{
    content: '';
    display: block;
    padding-bottom: 150%;
    width: 100%;
  }
  
  .card__background{
    background-size: cover;
    background-position: center;
    border-radius: var(--spacing-l);
    bottom: 0;
    filter: brightness(0.75) saturate(1.2) contrast(0.85);
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform-origin: center;
    trsnsform: scale(1) translateZ(0);
    transition: 
      filter 200ms linear,
      transform 200ms linear;
  }
  
  .card:hover .card__background{
    transform: scale(1.05) translateZ(0);
  }
  
  .card-grid:hover > .card:not(:hover) .card__background{
    filter: brightness(0.5) saturate(0) contrast(1.2) blur(20px);
  }
  
  .card__content{
    left: 0;
    padding: var(--spacing-l);
    position: absolute;
    top: 0;
  }
  
  .card__category{
    color: var(--text-light);
    font-size: 0.9rem;
    margin-bottom: var(--spacing-s);
    text-transform: uppercase;
  }
  
  .card__heading{
    color: var(--text-lighter);
    font-size: 1.9rem;
    text-shadow: 2px 2px 20px rgba(0,0,0,0.2);
    line-height: 1.4;
    word-spacing: 100vw;
  }