.abs,
h2:after,
.cards .card figcaption,
.cards .card:after,
.news .card figcaption,
.news .card:after,
.news .article figcaption {
position: absolute;
}
.rel,
h2,
h2 strong,
.cards .card,
.news .card,
.news .article {
position: relative;
}
.fix {
position: fixed;
}
.dfix {
display: inline;
}
.dib {
display: inline-block;
}
.db {
display: block;
}
.dn {
display: none;
}
.df,
.cards,
.news {
display: flex;
}
.dif {
display: inline-flex;
}
.dg {
display: grid;
}
.dig {
display: inline-grid;
}
.cards,
.news {
flex-flow: row wrap;
}
.cards .card,
/* .news .card {
margin: 20px;
width: 180px;
height: 270px;
overflow: hidden;
box-shadow: 0 5px 10px rgba(0,0,0,0.8);
transform-origin: center top;
transform-style: preserve-3d;
transform: translateZ(0);
transition: 0.3s;
} */
.news .card {
    margin: 16px;
    width: 144px;
    height: 216px;
    overflow: hidden;
    box-shadow: 0 5px 10px rgba(0,0,0,0.8);
    transform-origin: center top;
    transform-style: preserve-3d;
    transform: translateZ(0);
    transition: 0.3s;
    }
.cards .card img,
.news .card img {
width: 100%;
min-height: 100%;
}
.cards .card figcaption,
.news .card figcaption {
bottom: 0;
left: 0;
right: 0;
padding: 20px;
padding-bottom: 10px;
font-size: 20px;
background: none;
color: #fff;
transform: translateY(100%);
transition: 0.3s;
}
.cards .card:after,
.news .card:after {
content: '';
z-index: 10;
width: 200%;
height: 100%;
top: -90%;
left: -20px;
opacity: 0.1;
transform: rotate(45deg);
background: linear-gradient(to top, transparent, #fff 15%, rgba(255,255,255,0.5));
transition: 0.3s;
}
.cards .card:hover,
.news .card:hover,
.cards .card:focus,
.news .card:focus,
.cards .card:active,
.news .card:active {
box-shadow: 0 8px 16px 3px rgba(0,0,0,0.6);
transform: translateY(-3px) scale(1.05) rotateX(15deg);
}
.cards .card:hover figcaption,
.news .card:hover figcaption,
.cards .card:focus figcaption,
.news .card:focus figcaption,
.cards .card:active figcaption,
.news .card:active figcaption {
transform: none;
}
.cards .card:hover:after,
.news .card:hover:after,
.cards .card:focus:after,
.news .card:focus:after,
.cards .card:active:after,
.news .card:active:after {
transform: rotate(25deg);
top: -40%;
opacity: 0.15;
}
/* .news .article {
overflow: hidden;
width: 350px;
height: 235px;
margin: 20px;
} */
/* overflow: hidden;
width: 280px;
height: 188px;
margin: 16px; */
.news .article {
    overflow: hidden;
    width: 280px;
    height: 188px;
    margin: 16px;
}
.news .article img {
    width: 100%;
    min-height: 100%;
    transition: 0.2s;
}
.news .article figcaption {
    font-size: 14px;
    text-shadow: 0 1px 0 rgba(51,51,51,0.3);
    color: #fff;
    left: 0;
    right: 0;
    top: 0;
    bottom: 10;
    padding: 20px;
    box-shadow: 0 0 2px rgba(0,0,0,0.2);
    background: rgba(6,18,53,0.6);
    opacity: 0;
    transform: scale(1.15);
    transition: 0.2s;
}
.news .article figcaption h3 {
    color: #00adb5;
    font-size: 16px;
    margin-bottom: 0;
    font-weight: bold;
}
.news .article:hover img,
.news .article:focus img,
.news .article:active img {
    filter: blur(3px);
    transform: scale(0.97);
}
.news .article:hover figcaption,
.news .article:focus figcaption,
.news .article:active figcaption {
    opacity: 1;
    transform: none;
}






* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .card-container {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    max-width: 500px;
    height: 500px;
    .card {
      position: absolute;
      margin: auto;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 300px;
      height: 200px;
      padding: 20px;
      overflow: hidden;
      background: #252525;
      border-radius: 10px;
      box-shadow: -2px 2px 0px 0px #202020,
                  -10px 10px 40px 0px rgba(0, 0, 0, 0.3);
      transform: translate(0px, 0px) rotateX(30deg) rotateZ(-20deg);
      z-index: 2;
      transition: all 1s;
      &:hover {
        transform: translate(0px, -20px) rotateX(10deg) rotateZ(-20deg);;
        box-shadow: -2px 1px 0px 0px #202020,
                    -40px 40px 40px 0 rgba(0, 0, 0, 0.2);
        cursor: pointer;
      }
      h1 {
        color: crimson;
        font-size: 20px;
        text-transform: uppercase;
        letter-spacing: 0.1em;
        margin-bottom: 20px;
        &:nth-of-type(2) {
          font-size: 16px;
          font-weight: 400;
          text-align: center;
        }
      }
      h3 {
        color: crimson;
        font-size: 14px;
        text-transform: uppercase;
        letter-spacing: 0.05em;
        &:nth-of-type(2) {
          font-size: 14px;
          font-weight: 400;
        }
      }
      i {
        margin-right: 5px;
        color: crimson;
      }
      .circle {
        position: absolute;
        margin: auto;
        top: 10%;
        bottom: 0;
        right: -50%;
        width: 300px;
        height: 300px;
        border-radius: 50%;
        background: #202020;
        z-index: -2;
        &:nth-of-type(2) {
          width: 100px;
          height: 100px;
          top: 90%;
          right: -20%;
          z-index: -1;
          background: crimson;
        }
      }
    }
  }
  
  @media only screen and (max-width: 780px) {
  
    .card-container {
      .card {
        width: 250px;
        height: 150px;
        animation: hvr 5s infinite ease-in-out;
        transition: none;
        h1 {
          font-size: 18px;
          &:nth-of-type(2) {
            font-size: 14px;
          }
        }
        h3 {
          font-size: 12px;
          &:nth-of-type(2) {
            font-size: 10px;
          }
        }
        .circle {
          right: -70%;
        }
      }
    }
  
    @keyframes hvr {
      0% {
        box-shadow: -2px 2px 0px 0px #202020,
                    -10px 10px 40px 0px rgba(0, 0, 0, 0.3);
        transform: translate(0px, 0px) rotateX(30deg) rotateZ(-20deg);
      }
      50% {
        transform: translate(0px, -20px) rotateX(30deg) rotateZ(-20deg);;
        box-shadow: -2px 1px 0px 0px #202020,
                    -40px 40px 40px 0 rgba(0, 0, 0, 0.2);
      }
      100% {
        box-shadow: -2px 2px 0px 0px #202020,
                    -10px 10px 40px 0px rgba(0, 0, 0, 0.3);
        transform: translate(0px, 0px) rotateX(30deg) rotateZ(-20deg);
      }
    }
  }
  